.tmp/
.tscache/
.idea/
atlassian-ide-plugin.xml
node_modules/
npm-debug.log
report/
vendor/
typings/
src/**/*.js
src/**/*.js.map
examples/**/*.js
examples/**/*.js.map
test/**/*.js
test/**/*.js.map
!test/karma.conf.js
!test/protractor.conf.js
